name: GitHub CI/CD 
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Install build tools
        env:
          SEMVER_VERSION: 2.1.0
        run: |
          sudo snap install skopeo --edge && \
          wget -O - https://github.com/fsaintjacques/semver-tool/archive/${SEMVER_VERSION}.tar.gz \
          | tar xvfz - semver-tool-${SEMVER_VERSION}/src/semver --strip 2 -C /usr/local/bin/

      - name: Test installation of tools
        run: |
          skopeo --version && \
          semver --version

      - name: Check out code
        uses: actions/checkout@v1

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

      - name: Filter non-master branches
        uses: actions/bin/filter@master
        with:
          args: "branch master"

      - name: Log in to registry
        uses: actions/docker/login@master
        env:
          DOCKER_REGISTRY_URL: docker.pkg.github.com
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ secrets.package_registry_token }}

      - name: Publish to GitHub Package Registry
        run: echo publish




